body,html {
	margin: 0 5px;
	font-family: Verdana,sans-serif;
	background-image: url(../images/bg.gif);
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-color: #4396ca;	
}
h1 {
font-size: 1.4em;
color: #008000;
}
a {
color: #008000;
}
/* Table */
th {
text-align: left;
}
td, th {
padding-right: 5px;
}
/* style form */
form dt {
width: 100px;
display: block;
float: left;
clear: left;
}
form dd {
margin-left: 0;
float: left;
}
form #submitbutton {
margin-left: 100px;
}
#header {
	background-image: url(../images/logobanner.png);
	height: 50px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#logo_image
{
	width:300px;
	height=162px;
	background-image: url(../images/header_image.jpg);
}
#main {
	height:auto;
	min-height:500px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(../images/right_nav_bg.png);
	background-repeat: repeat-y;
	background-position: right top;	
}
#main  {
	
	height: auto;
	min-height:500px;
	width: 1000px;
	clear:both;
	background-color: #ffffff;
	
}
#user
{
	width: 1000px;
	padding-right: 2px;
	padding-left: 2px;
}
.content {
	float: left;
	width: 700px;
	padding-top: 5px;
}
#main #login {
	float: right;
	width: 290px;
	height: 500px;
	padding-right: 5px;
}
#footer {
	background-color: #BFBDBD;
	height: 20px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(../images/footer-bg.jpg);
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #666;
	padding: 15px;
}
.clear{
	clear:both;
}


.main-title{
	font-family: Tahoma, Arial, Verdana;
	font-size: 13px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #0060BF;
	clear: both;
	float: left;
	height: 24px;
	width: 98%;
	padding-left: 12px;
	padding-top: 10px;
}
.sub-title
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #400000;
	text-decoration: none;
}


.form-label-main
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 11px;
	font-weight: bold;
	color: #3C3C3C;
	text-decoration: none;
}
.form-label-sub
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 10px;
	font-weight: normal;
	color: #3C3C3C;
	text-decoration: none;
	font-style: italic;
}
 input[type=text],input[type=password],select,input[type=file]
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #003A75;
	border: 1px solid #DADADA;
}


.header-home-logo
{
	float: right;
	padding-top: 10px;
	padding-right: 10px;
}
.normal-text {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #373737;
}
.b {
	font-weight: bold;
}
.line {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E2E2E2;
}
.frameset-profile
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #06F;
	text-decoration: none;
	border: 1px solid #EBEBEB;
}
.dashboard-welcome
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	color: #36F;
	text-decoration: none;
}.sec-heading {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #600;
	text-decoration: none;
}
.sec-details {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 9px;
	font-weight: normal;
	color: #06C;
	text-decoration: none;
}
#dashboard
{
	border: 0px solid #FFCECE;
	background-color: #FFF;
	min-height:180px;
	min-width:90%;
	margin-top: 2px;
	padding: 5px;
}
.invoice-title,.invoice-table-title
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000;
	text-decoration: none;
	padding-left: 5px;
}
.b
{
	font-weight: bold;
}
.paypal-notification
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: italic;
	font-weight: bolder;
	color: #333333;
	text-decoration: none;
}
.user-submit
{
	font-family: Tahoma, Arial, Verdana;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	background-image: url(../images/registration_button.png);
	height: 27px;
	width: 153px;
	display: block;
	padding-top: 3px;
	padding-right: 30px;
	padding-bottom: 21px;
	padding-left: 34px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	cursor: pointer;
}
.table-head-bg {
	background-color: #447bc4;
}
.white {
	color: #FFF !important;
}
.clear {
	clear: both;
}
#main .usermenu {
	float: right;
	width: 297px;
	padding-right: 3px;
}
.red {
	color: #F00;
}
.plan-title {
	height: 23px;
	width: 98%;
	margin-right: 3px;
	margin-left: 3px;
	background-color: #447bc4;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	text-decoration: none;
	color: #FFF;
	line-height: 15px;
	padding-left: 5px;
	margin-bottom: 8px;
}
.table-head {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #ffffff;
	background-color: #447bc4;
	height: 20px;
	padding-left: 5px;
}
.product-head {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	background-color: #E5E5E5;
	height: 20px;
}
/*Tab Style End*/
.shadow {
	-moz-box-shadow: 1px 1px 2px #000;
	-webkit-box-shadow: 1px 1px 2px #000;
	.box-shadow: 1px 1px 2px #000;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#000000');
}
.shadowlight {
	-moz-box-shadow: 1px 1px 2px #DBDBDB;
	-webkit-box-shadow: 1px 1px 2px #DBDBDB;
	.box-shadow: 1px 1px 2px #DBDBDB;
	/* For IE 8 */
	-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#DBDBDB')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#DBDBDB');
}
.plan-register
{
	background-image: url("../images/registration_button.png");
	border: 0 none;
	color: #FFFFFF;
	display: block;
	font-family: Tahoma,Arial,Verdana;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	padding-top: 3px;
	padding-right: 8px;
	padding-bottom: 0px;
	padding-left: 4px;
	text-decoration: none;
	width: 141px;
	cursor:pointer;
}
a.plan-register:hover
{
	color: #48A4FF;
}
.cart-title {
	font-size: 13px;
	color: #FFF;
	background-color: #447bc4;
	font-weight: bold;
}
.cart-head
{
	font-size: 18px;
	color: #333;
}
.submit
{
	background-color: #ff7302;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	border: 0px solid #FFF;
	height: 25px;
}
.BrowseProducts
{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
	background-color: #FF7302;
	padding: 5px;
	display: block;
}
.reg-steps {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #bec7cf;
	width: auto;
	float: left;
	height: 40px;
	text-align: center;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	padding-left: 15px;
	margin-right: 5px;
}
.strike {
	text-decoration: line-through;
	color: #F00;
}

#steps dl dt
{
	list-style-image: none;
	list-style-type: none;
	display: block;
	float: left;
	width: 23px;
	margin-left: 0px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #3D6DBE;
	text-decoration: none;
	height: 24px;
	padding-left:4px;
	line-height:25px;
}
#steps dl dd
{
	
	margin-bottom: 10px;
	color: #3D6DBE;

}
.selected
{
	background-image: url(../images/steps_bg.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.read-less
{
	float:right;	
}